In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("base_de_dados/houses_to_rent.xlsx", index_col = 0)

In [7]:
df.floor.unique()

array(['-', 10, 3, 12, 2, 16, 6, 4, 1, 7, 13, 9, 14, 5, 8, 15, 11, 19, 20,
       24, 23, 17, 18, 22, 27, 85, 28, 25, 29, 35, 21, 31, 99, 26, 68, 32,
       51], dtype=object)

In [14]:
df_cop = df.copy()

In [15]:
df_cop['floor'] = df_cop[['floor']].applymap(lambda x : str(x).replace('-', '0'))

In [19]:
df_cop['floor'] = df_cop['floor'].astype(np.int8)

In [20]:
df_cop.head()

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
id,,,,,,,,,,,,,
0,1,240,3,3,4,0,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493"
2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"
3,1,73,2,2,1,12,acept,not furnished,R$700,"R$1,250",R$150,R$16,"R$2,116"
4,1,19,1,1,0,0,not acept,not furnished,R$0,"R$1,200",R$41,R$16,"R$1,257"

In [22]:
df_cop.dtypes

city               int64
area               int64
rooms              int64
bathroom           int64
parking spaces     int64
floor               int8
animal            object
furniture         object
hoa               object
rent amount       object
property tax      object
fire insurance    object
total             object
dtype: object

In [3]:
df.head()

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
id,,,,,,,,,,,,,
0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493"
2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"
3,1,73,2,2,1,12,acept,not furnished,R$700,"R$1,250",R$150,R$16,"R$2,116"
4,1,19,1,1,0,-,not acept,not furnished,R$0,"R$1,200",R$41,R$16,"R$1,257"