In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("base_de_dados/houses_to_rent.xlsx", index_col = 0)

In [12]:
df.dtypes

city               int64
area               int64
rooms              int64
bathroom           int64
parking spaces     int64
floor             object
animal            object
furniture         object
hoa               object
rent amount       object
property tax      object
fire insurance    object
total             object
dtype: object

In [17]:
df.memory_usage(deep = True)

Index              48640
city               48640
area               48640
rooms              48640
bathroom           48640
parking spaces     48640
floor             253090
animal            382616
furniture         419272
hoa               379216
rent amount       389125
property tax      374694
fire insurance    371753
total             389956
dtype: int64

In [45]:
df_cop = df.copy(deep = True)

In [54]:
df_cop['area'] = df_cop['area'].astype(np.int16)
df_cop['rooms'] = df_cop['rooms'].astype(np.int8)
df_cop['bathroom'] = df_cop['bathroom'].astype(np.int8)
df_cop['parking spaces'] = df_cop['parking spaces'].astype(np.int8)

In [55]:
df_cop.head()

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
id,,,,,,,,,,,,,
0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493"
2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"
3,1,73,2,2,1,12,acept,not furnished,R$700,"R$1,250",R$150,R$16,"R$2,116"
4,1,19,1,1,0,-,not acept,not furnished,R$0,"R$1,200",R$41,R$16,"R$1,257"

In [39]:
df_cop.memory_usage(deep = True)

Index              48640
city                6080
area               24320
rooms               6080
bathroom            6080
parking spaces      6080
floor             253090
animal            382616
furniture         419272
hoa               379216
rent amount       389125
property tax      374694
fire insurance    371753
total             389956
dtype: int64

In [53]:
df_cop.select_dtypes(include = ['object', 'int8', 'int16']).nunique()

city                 2
area               435
rooms                9
bathroom            10
parking spaces      10
floor               37
animal               2
furniture            2
hoa               1292
rent amount       1032
property tax      1036
fire insurance     190
total             4069
dtype: int64

In [56]:
df_cop['city'] = df_cop['city'].astype('category')
df_cop['animal'] = df_cop['animal'].astype('category')
df_cop['furniture'] = df_cop['furniture'].astype('category')

In [57]:
df_cop.memory_usage(deep = True)

Index              48640
city                6204
area               12160
rooms               6080
bathroom            6080
parking spaces      6080
floor             253090
animal              6316
furniture           6324
hoa               379216
rent amount       389125
property tax      374694
fire insurance    371753
total             389956
dtype: int64

In [3]:
df.head()

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
id,,,,,,,,,,,,,
0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493"
2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"
3,1,73,2,2,1,12,acept,not furnished,R$700,"R$1,250",R$150,R$16,"R$2,116"
4,1,19,1,1,0,-,not acept,not furnished,R$0,"R$1,200",R$41,R$16,"R$1,257"