In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("base_de_dados/houses_to_rent.xlsx")

In [3]:
#df.head()

In [4]:
#df[["city", "area", "rooms"]].head()

In [5]:
#df.city.head()

0    1
1    0
2    1
3    1
4    1
Name: city, dtype: int64

In [34]:
df["teste"] = 5

In [35]:
df.head()

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total,teste
0,0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121",5
1,1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493",5
2,2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680",5
3,3,1,73,2,2,1,12,acept,not furnished,R$700,"R$1,250",R$150,R$16,"R$2,116",5
4,4,1,19,1,1,0,-,not acept,not furnished,R$0,"R$1,200",R$41,R$16,"R$1,257",5