In [1]:
import pandas as pd

In [16]:
df = pd.read_csv('base_de_dados/houses_to_rent.csv', encoding = "UTF-8")

In [22]:
df = pd.read_csv('base_de_dados/houses_to_rent.csv', encoding = "UTF-8", usecols=['city', 'area'], nrows=200)

In [23]:
df.head()

   city  area
0     1   240
1     0    64
2     1   443
3     1    73
4     1    19

In [24]:
df.shape

(200, 2)