In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("base_de_dados/houses_to_rent.xlsx")

In [5]:
colums = ["hoa", "rent amount", "total", 'fire insurance', 'property tax']
df[colums] = df[colums].applymap(lambda x : x.replace('R$', '').replace(',', ''))

In [6]:
df.head()

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,0,1,240,3,3,4,-,acept,furnished,0,8000,1000,121,9121
1,1,0,64,2,1,1,10,acept,not furnished,540,820,122,11,1493
2,2,1,443,5,5,4,3,acept,furnished,4172,7000,1417,89,12680
3,3,1,73,2,2,1,12,acept,not furnished,700,1250,150,16,2116
4,4,1,19,1,1,0,-,not acept,not furnished,0,1200,41,16,1257