In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("base_de_dados/houses_to_rent.xlsx")

In [4]:
df_copia = df
df_copia.append({"teste" : 90}, ignore_index=True)

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total,teste
0,0.0,1.0,240.0,3.0,3.0,4.0,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121",NaN
1,1.0,0.0,64.0,2.0,1.0,1.0,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493",NaN
2,2.0,1.0,443.0,5.0,5.0,4.0,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680",NaN
3,3.0,1.0,73.0,2.0,2.0,1.0,12,acept,not furnished,R$700,"R$1,250",R$150,R$16,"R$2,116",NaN
4,4.0,1.0,19.0,1.0,1.0,0.0,-,not acept,not furnished,R$0,"R$1,200",R$41,R$16,"R$1,257",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6076,6076.0,1.0,84.0,2.0,2.0,1.0,16,not acept,furnished,R$768,"R$2,900",R$63,R$37,"R$3,768",NaN
6077,6077.0,0.0,48.0,1.0,1.0,0.0,13,acept,not furnished,R$250,R$950,R$42,R$13,"R$1,255",NaN
6078,6078.0,1.0,160.0,3.0,2.0,2.0,-,not acept,not furnished,R$0,"R$3,500",R$250,R$53,"R$3,803",NaN
6079,6079.0,1.0,60.0,2.0,1.0,1.0,4,acept,furnished,R$489,"R$1,900",R$0,R$25,"R$2,414",NaN
6080,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90.0

In [8]:
df_copia.assign(coluna = 70.0)

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total,coluna
0,0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121",70.0
1,1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493",70.0
2,2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680",70.0
3,3,1,73,2,2,1,12,acept,not furnished,R$700,"R$1,250",R$150,R$16,"R$2,116",70.0
4,4,1,19,1,1,0,-,not acept,not furnished,R$0,"R$1,200",R$41,R$16,"R$1,257",70.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6075,6075,1,50,2,1,1,2,acept,not furnished,R$420,"R$1,150",R$0,R$15,"R$1,585",70.0
6076,6076,1,84,2,2,1,16,not acept,furnished,R$768,"R$2,900",R$63,R$37,"R$3,768",70.0
6077,6077,0,48,1,1,0,13,acept,not furnished,R$250,R$950,R$42,R$13,"R$1,255",70.0
6078,6078,1,160,3,2,2,-,not acept,not furnished,R$0,"R$3,500",R$250,R$53,"R$3,803",70.0
6079,6079,1,60,2,1,1,4,acept,furnished,R$489,"R$1,900",R$0,R$25,"R$2,414",70.0

In [9]:
df_copia.head()

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493"
2,2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"
3,3,1,73,2,2,1,12,acept,not furnished,R$700,"R$1,250",R$150,R$16,"R$2,116"
4,4,1,19,1,1,0,-,not acept,not furnished,R$0,"R$1,200",R$41,R$16,"R$1,257"

In [3]:
df.head()

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493"
2,2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"
3,3,1,73,2,2,1,12,acept,not furnished,R$700,"R$1,250",R$150,R$16,"R$2,116"
4,4,1,19,1,1,0,-,not acept,not furnished,R$0,"R$1,200",R$41,R$16,"R$1,257"