In [1]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_excel("base_de_dados/houses_to_rent.xlsx", index_col = 0)

In [3]:
df.head()

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
id,,,,,,,,,,,,,
0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493"
2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"
3,1,73,2,2,1,12,acept,not furnished,R$700,"R$1,250",R$150,R$16,"R$2,116"
4,1,19,1,1,0,-,not acept,not furnished,R$0,"R$1,200",R$41,R$16,"R$1,257"

In [64]:
df_cop = df.copy()

In [65]:
max_memory_usage = df_cop.memory_usage(deep = True)

In [66]:
df_cop['floor'] = df_cop[['floor']].applymap(lambda x : str(x).replace('-', '0'))

In [67]:
df_cop.area.max()

24606

In [68]:
df_cop.head()

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
id,,,,,,,,,,,,,
0,1,240,3,3,4,0,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493"
2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"
3,1,73,2,2,1,12,acept,not furnished,R$700,"R$1,250",R$150,R$16,"R$2,116"
4,1,19,1,1,0,0,not acept,not furnished,R$0,"R$1,200",R$41,R$16,"R$1,257"

In [69]:
cond = {'acept' : '1', 'not acept' : '0', 'furnished' : '1', 'not furnished' : '0'}
def subs_an_fur(value):
    if value in cond:
        value = cond[value]
        return value

In [70]:
colums = ['animal', 'furniture']
df_cop[colums] = df_cop[colums].applymap(lambda x : x.replace('not acept', '0').replace('acept', '1').replace('not furnished', '0').replace('furnished', '1'))

In [71]:
df_cop.head()

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
id,,,,,,,,,,,,,
0,1,240,3,3,4,0,1,1,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,0,64,2,1,1,10,1,0,R$540,R$820,R$122,R$11,"R$1,493"
2,1,443,5,5,4,3,1,1,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"
3,1,73,2,2,1,12,1,0,R$700,"R$1,250",R$150,R$16,"R$2,116"
4,1,19,1,1,0,0,0,0,R$0,"R$1,200",R$41,R$16,"R$1,257"

In [72]:
colums = ['hoa', 'rent amount', 'property tax', 'fire insurance', 'total']

df_cop[colums] = df_cop[colums].applymap(lambda x : x.replace('R$', '').replace(',', ''))

In [73]:
df_cop.head()

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
id,,,,,,,,,,,,,
0,1,240,3,3,4,0,1,1,0,8000,1000,121,9121
1,0,64,2,1,1,10,1,0,540,820,122,11,1493
2,1,443,5,5,4,3,1,1,4172,7000,1417,89,12680
3,1,73,2,2,1,12,1,0,700,1250,150,16,2116
4,1,19,1,1,0,0,0,0,0,1200,41,16,1257

In [74]:
df_cop.dtypes

city               int64
area               int64
rooms              int64
bathroom           int64
parking spaces     int64
floor             object
animal            object
furniture         object
hoa               object
rent amount       object
property tax      object
fire insurance    object
total             object
dtype: object

In [76]:
int8 = ['city', 'rooms', 'bathroom', 'parking spaces', 'floor', 'animal', 'furniture']
int16 = ['area', 'hoa', 'rent amount', 'property tax', 'fire insurance', 'total']