In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("base_de_dados/houses_to_rent.xlsx")

In [41]:
df[df.total > 'R$1,000']

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493"
2,2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"
3,3,1,73,2,2,1,12,acept,not furnished,R$700,"R$1,250",R$150,R$16,"R$2,116"
4,4,1,19,1,1,0,-,not acept,not furnished,R$0,"R$1,200",R$41,R$16,"R$1,257"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6075,6075,1,50,2,1,1,2,acept,not furnished,R$420,"R$1,150",R$0,R$15,"R$1,585"
6076,6076,1,84,2,2,1,16,not acept,furnished,R$768,"R$2,900",R$63,R$37,"R$3,768"
6077,6077,0,48,1,1,0,13,acept,not furnished,R$250,R$950,R$42,R$13,"R$1,255"
6078,6078,1,160,3,2,2,-,not acept,not furnished,R$0,"R$3,500",R$250,R$53,"R$3,803"
6079,6079,1,60,2,1,1,4,acept,furnished,R$489,"R$1,900",R$0,R$25,"R$2,414"

In [63]:
df[(df.area > 500) & (df.rooms > 5) & (df.total > 'R$15,000') & (df.animal == 'acept')]

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
63,63,1,750,7,6,5,-,acept,furnished,R$0,"R$5,800",R$559,R$88,"R$6,447"
538,538,1,580,6,6,6,-,acept,not furnished,R$0,"R$6,960","R$2,084",R$105,"R$9,149"
577,577,1,556,6,7,4,-,acept,not furnished,R$0,"R$7,500","R$1,084",R$113,"R$8,697"
726,726,1,700,6,8,8,-,acept,furnished,R$0,"R$14,000","R$1,020",R$211,"R$15,230"
3674,3674,1,600,6,5,5,-,acept,furnished,R$0,"R$12,000","R$3,334",R$181,"R$15,520"
4008,4008,1,998,7,10,4,-,acept,furnished,R$0,"R$15,000","R$5,000",R$226,"R$20,230"

In [64]:
df[(df.area > 500) & (df.rooms > 5) & (df.total > 'R$15,000') & (df.animal == 'acept')][['city', 'area']]

      city  area
63       1   750
538      1   580
577      1   556
726      1   700
3674     1   600
4008     1   998

In [70]:
df[(df.area > 100) & (df.total > 'R$15,000') & ((df.rooms == 1) | (df.rooms != 3))]

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
13,13,1,375,4,5,5,1,acept,not furnished,"R$4,793","R$15,000","R$2,805",R$191,"R$22,790"
16,16,0,188,2,3,8,-,acept,not furnished,R$0,"R$3,010",R$584,R$46,"R$3,640"
26,26,1,105,4,2,2,3,acept,not furnished,"R$1,659","R$6,500",R$400,R$83,"R$8,642"
35,35,1,250,4,4,2,-,not acept,not furnished,Sem info,"R$6,600",R$0,R$100,"R$6,700"
41,41,1,800,4,5,4,9,acept,not furnished,"R$6,000","R$15,000","R$3,334",R$191,"R$24,530"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6063,6063,1,210,4,4,3,13,not acept,furnished,"R$2,500","R$4,000",R$0,R$51,"R$6,551"
6065,6065,1,133,2,2,1,7,acept,not furnished,R$813,"R$2,713",R$160,R$35,"R$3,721"
6067,6067,1,280,4,4,3,17,acept,furnished,"R$2,400","R$6,553",R$0,R$84,"R$9,037"
6070,6070,1,200,4,5,3,2,acept,not furnished,"R$2,600","R$4,500",R$834,R$58,"R$7,992"
6071,6071,0,600,5,5,4,-,acept,not furnished,"R$3,300","R$5,000",R$916,R$76,"R$9,292"

In [7]:
df.head()

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493"
2,2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"
3,3,1,73,2,2,1,12,acept,not furnished,R$700,"R$1,250",R$150,R$16,"R$2,116"
4,4,1,19,1,1,0,-,not acept,not furnished,R$0,"R$1,200",R$41,R$16,"R$1,257"