In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("base_de_dados/houses_to_rent.xlsx")

In [8]:
# df.sort_values("total", inplace = True) # inplace diz que o df irÃ¡ ser alterado
#df.sort_values("total", inplace = False).head # Sem o inplace a alteraÃ§Ã£o do df serÃ¡ sÃ³ local
df.sort_values("total", ascending=False)

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
933,933,1,45,1,1,0,-,acept,not furnished,R$0,R$928,R$57,R$14,R$999
1732,1732,1,27,1,1,0,2,not acept,not furnished,R$50,R$895,R$41,R$12,R$998
2899,2899,0,55,1,1,0,1,acept,not furnished,R$260,R$716,R$12,R$10,R$998
3060,3060,0,47,1,1,0,3,not acept,not furnished,R$450,R$530,R$10,R$7,R$997
448,448,0,55,1,1,0,5,acept,not furnished,R$473,R$500,R$17,R$7,R$997
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5465,5465,0,50,2,1,1,1,acept,not furnished,R$0,R$800,R$200,R$11,"R$1,011"
3846,3846,0,60,2,1,1,3,acept,not furnished,R$505,R$450,R$48,R$6,"R$1,009"
4099,4099,0,36,1,1,0,5,acept,not furnished,R$290,R$700,R$10,R$9,"R$1,009"
4317,4317,0,23,1,1,0,-,not acept,furnished,R$0,R$990,R$0,R$13,"R$1,003"
3247,3247,0,35,1,1,0,8,acept,not furnished,R$480,R$500,R$14,R$7,"R$1,001"

In [9]:
df.sort_values(["area", "total"], ascending = [True, False])

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
903,903,1,10,4,3,2,-,acept,not furnished,R$0,"R$2,670",R$21,R$41,"R$2,732"
5631,5631,1,11,1,1,0,1,not acept,furnished,R$300,"R$2,100",R$42,R$27,"R$2,469"
219,219,1,11,1,1,0,-,not acept,furnished,R$0,"R$1,181",R$0,R$15,"R$1,196"
1924,1924,1,12,1,1,0,-,not acept,not furnished,R$0,"R$1,050",R$50,R$14,"R$1,114"
5,5,1,13,1,1,0,2,acept,not furnished,R$0,"R$2,200",R$42,R$28,"R$2,270"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1533,1533,0,999,5,7,8,-,acept,not furnished,R$0,"R$14,000",R$667,R$211,"R$14,880"
5178,5178,1,1000,4,7,4,10,acept,furnished,"R$6,000","R$15,000","R$4,900",R$191,"R$26,090"
3983,3983,1,1600,4,5,12,-,acept,not furnished,R$1,"R$7,900","R$5,000",R$119,"R$13,020"
5494,5494,0,12732,3,2,0,3,acept,not furnished,R$700,"R$1,600",R$96,R$21,"R$2,417"
4178,4178,1,24606,5,4,4,12,acept,not furnished,"R$2,254","R$8,100","R$7,859",R$103,"R$18,320"

In [4]:
df.head()

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493"
2,2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"
3,3,1,73,2,2,1,12,acept,not furnished,R$700,"R$1,250",R$150,R$16,"R$2,116"
4,4,1,19,1,1,0,-,not acept,not furnished,R$0,"R$1,200",R$41,R$16,"R$1,257"